div#startEndInformationField{
    display: block;
    height: 100px;
    text-align: center;
}

div#gameField{
    display: block;
    background-color: white;
    position: relative;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-color: white;
}

div#firstLine{
    display: block;
    position: relative;
    height: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;    
}

div#secondLine{
    display: block;
    position: relative;
    height: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;   
}

div#thirdLine{
    display: block;
    position: relative;
    height: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;   
}

div#fourthLine{
    display: block;
    position: relative;
    height: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;   
}

.input0, .input1, .input2, .input3, .input4, .input5, .input6, .input7, 
.input8, .input9, .input10, .input11, .input12, .input13, .input14, .input15{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(183, 155, 209);
    border: 2px solid black;
    text-align: center;
    line-height: 100px;
}

.input1, .input5, .input9, .input13{
    left: 100px;
    top: -104px;
}

.input2, .input6, .input10, .input14{
    left: 200px;
    top: -208px;
}

.input3, .input7, .input11, .input15{
    left: 300px;
    top: -312px;
}

.two{
    background-color: azure;
}

.four{
    background-color: bisque;
}

.eight{
    background-color: burlywood;
}

.sixteen{
    background-color: chartreuse;
}

.thirtyTwo{
    background-color: chocolate;
}

.sixtyFour{
    background-color: crimson;
}

.oneHundredTwentyEight{
    background-color: darkgoldenrod;
}

.twoHundredFiftySix{
   background-color: darkorange;
}

.fiveHundredTwelve{
    background-color: darkslategray;
}

.oneThousandTwentyFour{
    background-color: darkviolet;
}

.twoThousandFortyEight{
    background-color: gold;
}